# gitignore file for the python project
test.db
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist/
build/
*.egg-info
*.egg
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.cache
*.project
*.pydevproject
*.settings
*.tmproj
*.esproj
*.pyc

# ignore all __pycache__ directories
__pycache__/*
*/__pycache__/*
__pycache__/
pycache/
models/__pycache__/
agents/__pycache__/

APS.db